h1{
    text-align: center;
    font-size: 60px;
}
input{
    outline: none;
    border-radius: 5px;
    height: 30px;
    border: 1px solid grey;
    width: 250px;
}
span{
    color: orange;
    display: none;
    font-size: 15px;
}
section{
    width: 280px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 20px 10px rgb(161,161,161);
    margin-left: 600px;
}